node-red flows (1).json
[{"id":"479a66a9.c435d8","type":"tab","label":"IBMIOT-UI","disabled":false,"info":""},{"id":"e82fa3b1.68985","type":"ibmiot in","z":"479a66a9.c435d8","authentication":"apiKey","apiKey":"4414968a.ffece8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOTDevice","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":140,"wires":[["fc26b648.7e01f8","6b8e9266.2d1f8c","f6f13444.fb95b8"]]},{"id":"744c935f.ca443c","type":"debug","z":"479a66a9.c435d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":120,"wires":[]},{"id":"fc26b648.7e01f8","type":"function","z":"479a66a9.c435d8","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["744c935f.ca443c","bd77a16f.cf4ee"]]},{"id":"6b8e9266.2d1f8c","type":"function","z":"479a66a9.c435d8","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["744c935f.ca443c","4294ea09.00d754"]]},{"id":"f6f13444.fb95b8","type":"function","z":"479a66a9.c435d8","name":"Soil_moisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["744c935f.ca443c","fbc2de37.57112"]]},{"id":"174e0a3e.5ba8c6","type":"catch","z":"479a66a9.c435d8","name":"","scope":null,"uncaught":false,"x":760,"y":320,"wires":[["744c935f.ca443c"]]},{"id":"fbc2de37.57112","type":"ui_gauge","z":"479a66a9.c435d8","name":"","group":"ea5aae5e.1e465","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil_moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":360,"wires":[]},{"id":"bd77a16f.cf4ee","type":"ui_gauge","z":"479a66a9.c435d8","name":"","group":"ea5aae5e.1e465","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":40,"wires":[]},{"id":"4294ea09.00d754","type":"ui_gauge","z":"479a66a9.c435d8","name":"","group":"ea5aae5e.1e465","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":220,"wires":[]},{"id":"df4d863a.64e0a8","type":"inject","z":"479a66a9.c435d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":310,"y":460,"wires":[["438fd7b1.e6d818"]]},{"id":"438fd7b1.e6d818","type":"http request","z":"479a66a9.c435d8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=9bb25e5b1a3576ac8e00a39bb161e89e","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":460,"wires":[["744c935f.ca443c","c4f36e6.17e909","5d95d903.e01a98","a3bae0a6.a8be"]]},{"id":"a5944a04.179288","type":"ibmiot out","z":"479a66a9.c435d8","authentication":"apiKey","apiKey":"4414968a.ffece8","outputType":"cmd","deviceId":"Motor","deviceType":"IOTDevice","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":560,"wires":[]},{"id":"90c95a52.35c348","type":"ui_button","z":"479a66a9.c435d8","name":"","group":"8479861e.0a0098","order":1,"width":0,"height":0,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":340,"y":620,"wires":[["a5944a04.179288"]]},{"id":"f21c39f2.5796e8","type":"ui_button","z":"479a66a9.c435d8","name":"","group":"8479861e.0a0098","order":0,"width":0,"height":0,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":320,"y":540,"wires":[["a5944a04.179288"]]},{"id":"c4f36e6.17e909","type":"function","z":"479a66a9.c435d8","name":"temperature","func":"msg.payload=msg.payload.main.temp;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":420,"wires":[["f90cc50c.59d8e8"]]},{"id":"5d95d903.e01a98","type":"function","z":"479a66a9.c435d8","name":"humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":480,"wires":[["67d6c102.80468"]]},{"id":"a3bae0a6.a8be","type":"function","z":"479a66a9.c435d8","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":600,"wires":[["20cbe2cd.59979e"]]},{"id":"f90cc50c.59d8e8","type":"ui_gauge","z":"479a66a9.c435d8","name":"","group":"5ad310ac.4b459","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":280,"wires":[]},{"id":"67d6c102.80468","type":"ui_gauge","z":"479a66a9.c435d8","name":"","group":"5ad310ac.4b459","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1120,"y":340,"wires":[]},{"id":"20cbe2cd.59979e","type":"ui_gauge","z":"479a66a9.c435d8","name":"","group":"5ad310ac.4b459","order":2,"width":0,"height":0,"gtype":"gage","title":"pressure","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":540,"wires":[]},{"id":"4414968a.ffece8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ea5aae5e.1e465","type":"ui_group","z":"","name":"Smart_Agriculture Gauges","tab":"4b841a7c.6adff4","order":1,"disp":true,"width":"6","collapse":false},{"id":"8479861e.0a0098","type":"ui_group","z":"","name":"Motor_Command","tab":"4b841a7c.6adff4","order":4,"disp":true,"width":"6","collapse":false},{"id":"5ad310ac.4b459","type":"ui_group","z":"","name":"open weather API gauge","tab":"4b841a7c.6adff4","order":5,"disp":true,"width":"6","collapse":false},{"id":"4b841a7c.6adff4","type":"ui_tab","z":"","name":"Agriculture","icon":"dashboard","disabled":false,"hidden":false}]